.skeleton {
    background-color: var(--color-brand-secondary-800);
    background-image: linear-gradient(to bottom,
            var(--color-brand-secondary-800) 0%,
            var(--color-brand-secondary-700) 50%,
            var(--color-brand-secondary-800) 100%);
    background-size: 100% 200px;
    background-repeat: no-repeat;
    animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: 0 -200px;
    }

    100% {
        background-position: 0 calc(100% + 200px);
    }
}