.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: .5rem;
    transition: all var(--transition-fast);
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--color-brand-primary-500);
    color: var(--color-brand-secondary-900);
}

.btn-primary:hover {
    background-color: var(--color-brand-primary-600);
}

.btn-secondary {
    background-color: transparent;
    color: var(--color-brand-primary-500);
    border: 1px solid var(--color-brand-primary-500);
}

.btn-secondary:hover {
    background-color: var(--color-brand-secondary-700);
}