.tag {
    background-color: var(--theme-surface, var(--color-brand-secondary-500));
    border-radius: 9999px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    pointer-events: none;
}

@media (max-width: 768px) {
    .tag {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}