.tag {
    border: 1px solid var(--foreground);
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 9999px;
    /* full rounded */
    font-size: 0.875rem;
    /* text-sm */
    line-height: 1.25rem;
}